<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.dgit.bigdata.post_study.mappers.PostMapper">
	<select id="selectBySidoro" resultType="Post"> 
		select zipcode, sido, sigungu, doro, building1, building2 from post where sido=#{param1} and doro like #{param2}; 
	</select>
	<select id="getSido" resultType="String">
		select distinct sido from post;
	</select>
</mapper>
