<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="application.properties"/>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<!--  <typeAlias type="kr.or.dgit.bigdata.school.dto.Student" alias="Student"/> -->
		<package name="kr.or.dgit.bigdata.post_study.dto"/>
	</typeAliases>
	<!-- <typeHandlers>
		<package name="kr.or.dgit.bigdata.school.typehandler"/>
	</typeHandlers>  -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- <mapper resource="kr/or/dgit/bigdata/school/mappers/StudentMapper.xml" /> -->
		<package name="kr.or.dgit.bigdata.post_study.mappers"/>
	</mappers>
</configuration>
